body {
  background: black;
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  color: #00FF0D;
  text-align: center;
}

ul {
  margin: 0 auto;
  border: 2px solid white;
  padding: 0;
  width: 300px;
  height: 300px;
}

li {
  float: left;
  width: 96px;
  height: 96px;
  font-size: 70px;
  line-height: 96px;
  text-align: center;
  border: 2px solid white;
  list-style-type: none;
}

li:hover{
  cursor:pointer;
}

.playerTurn {
  text-align: center;
}

.X {
  color: black;
  background: #00FF0D;
}

.O {
  color: #00FF0D;
  background: black;
}

.reset {
  font-size: 20px;
  background: black;
  border: none;
  color: white;
  cursor: pointer;
  margin: 20px;
}

.reset: hover{
  background: #b8bdee;
}
